<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>汾神的博客</title>
<meta name="keywords" content="个人博客模板古典系列之――江南墨卷" />
<meta name="description" content="个人博客模板古典系列之――江南墨卷" />
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="/static/js/modernizr.js"></script>
<![endif]-->
<script type="text/javascript" src="/static/js/jquery.js"></script>
</head>
<body>
<div id="wrapper">
  <header>
    <div class="headtop"></div>
    <div class="contenttop">
      <div class="logo f_l">汾神的个人博客</div>
      <div class="search f_r">
        <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
          <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
          <input name="show" value="title" type="hidden">
          <input name="tempid" value="1" type="hidden">
          <input name="tbname" value="news" type="hidden">
          <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
      </div>
      <div class="blank"></div>
      <nav>
        <div  class="navigation">
          <ul class="menu">
            <li><a href="/blog">网站首页</a></li>
            <li><a href="#">关于我</a>
              <ul>
                <li><a href="/blog/about">个人简介</a></li>
                <li><a href="/blog/listpic">个人作品</a></li>
              </ul>
            </li>
            <li><a href="#">我的日记</a>
              <ul>
                <li><a href="/blog/newslistpic">个人日记</a></li>
                <li><a href="/blog/newslistpic">学习笔记</a></li>
              </ul>
            </li>
            <li><a href="/blog/newslistpic">技术文章</a> </li>
            <li><a href="#">给我留言</a> </li>
          </ul>
        </div>
      </nav>
      <SCRIPT type=text/javascript>
	// Navigation Menu
	$(function() {
		$(".menu ul").css({display: "none"}); // Opera Fix
		$(".menu li").hover(function(){
			$(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
		},function(){
			$(this).find('ul:first').css({visibility: "hidden"});
		});
	});
</SCRIPT> 
    </div>
  </header>
  <div class="container">
    <div class="con_content">
      <div class="about_box">
        <h2 class="nh1">
          <span>您现在的位置是：
            <a href="/blog" target="_blank">网站首页</a>>>
            <a href="#" target="_blank">个人简介</a>
          </span>
          <b>个人简介</b>
        </h2>
        <div class="f_box">
          <p class="a_title">我的数据分析</p>
          <ul class="about_content">
            <p>热爱并擅长数据分析、数据可视化类工作。关注数据链路发展，有多种数据获取能力、丰富的数据分析和可视化经验。喜欢新技术、新产品，希望从新技术、新产品中完善自己对数据世界的理解和解决工作中实际的问题，对数据链路中的数据可视化和数据挖掘有浓厚的兴趣和热情。坚信完整的数据分析工作必将从数据中解释企业的生命，更好的诠释属于企业的大数据时代。</p>
            <p><img src="/static/images/01.jpg"></p>
            <p>“冥冥中该来则来，无处可逃”。 </p>
          </ul>
        </div>
        <div class="f_box">
          <p class="a_title">现在的工作</p>
          <ul class="job_exp" style="font-size: 14px;line-height: 24px;">
            <p><b>BI数据分析师：</b>美林数据 智能电网事业部  2017.5-至今</p>
            <p><b>主要职责：</b>现场项目客户咨询、方案编写、模型设计工作。</p>
            <p>•负责售前客户提出需求的业务分析、咨询； </p>
            <p>•负责客户需求落地解决方案的编写；</p>
            <p>•数据分析类项目业务数据分析，利用数据挖掘算法形成业务模型，指导落地，设计数据可视化界面和相关的数据模型，并开发数据可视化界面。</p>
            <p><b>项目名称：</b>全业务统一数据中心数据分析域</p>
            <p><b>项目描述：</b>该项目主要是对国网安徽电力公司信息系统产生的数据，进行全业务、全类型、全时间维度的数据中心建设工作。</p>
            <p>•利用数据同步复制（OGG）、ETL工具（Informatica、kettle）、kafka、flume、海量平台接口等数据同步工具对安徽公司19套二级系统、13套一级系统和两套外部系统的数据完成数据接入工作；</p>
            <p>•将数据接入到MPP大规模并行数据库Gbase 8a和企业级大数据平台（HDFS、Hbase）中；</p>
            <p>•利用MPP的在线计算能力、ETL工具和大数据平台组件的批量处理、内存计算等对数据进行数据清洗工作；</p>
            <p>•利用自助式分析工具完成业务场景的开发</p>
            <p><b>我的职责：</b>我的工作是负责需求调研、方案编写、业务建模和可视化设计、开发、发布</p>
          </ul>
        </div>
        <div class="f_box">
          <p class="a_title">上一份工作</p>
          <ul class="job_exp" style="font-size: 14px;line-height: 24px;">
            <p><b>数据分析师：</b>星网软件 应用研发部  2016.06-2017.5</p>
            <p><b>主要职责：</b>负责项目的需求梳理、数据链路设计开发工作。</p>
            <p>•与需求分析人员进行沟通，了解用户对项目的业务需求并进行分析、整理，编写数据项目的需求分析和设计说明书； </p>
            <p>•根据需求分析设计数据链路，编写数据存储过程；</p>
            <p>•与UI设计讨论，设计数据可视化界面风格；</p>
            <p>•与前端开发人员、后端开发人员讨论，开发相应数据可视化界面和功能。</p>
            <p><b>项目名称：</b>江苏省工商局分析平台</p>
            <p><b>时间：</b>2016.5-2017-02</p>
            <p><b>项目描述：</b>该项目主要是对江苏省工商局信息系统产生的数据，统计分析挖掘工商信息，实现登记查询、分析报告以及数据可视化等功能。</p>
            <p><b>我的职责：</b>我的工作主要是设计数据链路，配合UI、开发人员完成数据可视化界面的开发。</p>
            <p><b>项目名称：</b>泰州市工业企业大数据平台</p>
            <p><b>时间：</b>2017.3-2017.5</p>
            <p><b>项目描述：</b>项目处于招标阶段，我主要负责标书中数据的应用服务需求的编写，包括数据收集、数据分析、数据可视化，并整理成标书。</p>
            <p><b>我的职责：</b>负责完成标书中数据功能模块编写， 涉及数据收集、数据处理、数据可视化</p>
          </ul>
        </div>
        <div class="f_box">
          <p class="a_title">我的第一份数据分析工作</p>
          <ul class="job_exp" style="font-size: 14px;line-height: 24px;">
            <p><b>助理数据分析师：</b>南京万得 数据2A部  2014.11-2016.6</p>
            <p><b>主要职责：</b>数据的收集、整理、录入工作。</p>
            <p>•日常进行数据收集、整理、录入工作；</p>
            <p>•审核重要数据的准确性和专业性，确保数据的高质量；</p>
            <p>•对全球金融数据进行深度采集和挖掘工作，为客户提供专业的金融数据；</p>
            <p>•合理设计数据加工流程、规则、方法的整体方案；</p>
            <p>•与产品等部门合作，进行特定数据研究，撰写数据报告。</p>
          </ul>
        </div>
      </div>
    </div>
    <div class="blank"></div>
  </div>
  
  <footer>
    <div class="footer">
      <div class="f_l">
        <p>All Rights Reserved 版权所有：<a href="http://106.15.177.175/blog">汾神个人博客</a> 备案号：蜀ICP备00000000号</p>
      </div>
      <div class="f_r textr">
        <p>Design by DanceSmile</p>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
